{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>Exportar excel</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Apellido</th>
            <th>Apellido</th>
            <th>Placa</th>
            <th>Modelo</th>
            <th>Fecha tasacion</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


</div></div><div class="form-group row text-center mt-3">
    <div class="col-md-12">
      <a href="" class="btn btn-success">Descargar Excel</a>
       </div>
  </div>  

{% endblock %} 