{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/auto.css' %}" />
<body>
    <div class="container">
        <h1 class="text-center my-4">Marca el Auto</h1>
        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-danger mr-2" onclick="borrarMarcas()">Borrar Todas las Marcas</button>
            <button class="btn btn-primary" onclick="guardarImagen()">Guardar</button>
        </div>
        <div class="d-flex justify-content-center mb-4">
            <div id="letras-seleccionadas" class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="letra" value="P" autocomplete="off" checked> P<br><small>Pintar</small>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="letra" value="RP" autocomplete="off"> RP<br><small>Reparar y Pintar</small>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="letra" value="M" autocomplete="off"> M<br><small>Microbollo</small>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="letra" value="MA" autocomplete="off"> MA<br><small>Macrobollo</small>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="letra" value="L" autocomplete="off"> L<br><small>Lustrar</small>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="letra" value="LP" autocomplete="off"> LP<br><small>Lustrado Prof.</small>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="letra" value="S" autocomplete="off"> S<br><small>Susituir</small>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="letra" value="F" autocomplete="off"> F <br><small>Faltante</small>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="letra" value="A" autocomplete="off"> A <br><small>Alinear</small>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="letra" value="LI" autocomplete="off"> LI<br><small>Lijar</small>
                </label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="detalle_no_notado">
                <label class="form-check-label" for="detalle_no_notado">
                   No se notaron detalles
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <form id="imagen-form" method="post" enctype="multipart/form-data" action="{% url 'guardar_imagen' peritaje.id %}">
                {% csrf_token %}
                <input type="hidden" id="peritaje-id" value="{{ peritaje.id }}">
            </form>
            <div id="auto-container" class="img-fluid">
                {% load static %}
                <img id="auto" src="{% static 'images/auto.png' %}" alt="Auto" class="img-fluid" onclick="marcar(event)">
                {% for marca in marcas %}
                    <div class="marca" id="marca-{{ marca.id }}" style="left: {{ marca.x }}%; top: {{ marca.y }}%;" onclick="borrarMarca({{ marca.id }})">{{ marca.letra }}</div>
                {% endfor %}
            </div>
        </div>
        <!-- Campo de observaciones -->
        <div class="form-group mt-4">
            <label for="id_observaciones">Observaciones:</label>
            <textarea id="id_observaciones" style="height: 200px; resize: none; margin-bottom: 30px;" name="observaciones" class="form-control"></textarea>
        </div>
    </div>

    <script src="{% static 'html2canvas.js' %}"></script>
    <script>
        function marcar(event) {
            const img = document.getElementById('auto');
            const rect = img.getBoundingClientRect();
            const x = (event.clientX - rect.left) / rect.width * 100;
            const y = (event.clientY - rect.top) / rect.height * 100;
            const letra = document.querySelector('input[name="letra"]:checked').value;

            const data = new FormData();
            data.append('x', x);
            data.append('y', y);
            data.append('letra', letra);

            fetch("", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: data
            })
            .then(response => response.json())
            .then(data => {
                
                if (data.status === 'ok') {
                    const marca = document.createElement('div');
                    marca.classList.add('marca');
                    marca.style.left = x + '%';
                    marca.style.top = y + '%';
                    marca.textContent = letra;
                    marca.id = 'marca-' + data.id;
                    marca.setAttribute('onclick', 'borrarMarca(' + data.id + ')');
                    document.getElementById('auto-container').appendChild(marca);
                }
            });
        }

        function borrarMarcas() {
            fetch("/borrar_marcas/", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'ok') {
                    const marcas = document.querySelectorAll('.marca');
                    marcas.forEach(marca => marca.remove());
                }
            });
        }

        function borrarMarca(id) {
            fetch("/borrar_marca/" + id + "/", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'ok') {
                    const marca = document.getElementById('marca-' + id);
                    if (marca) {
                        marca.remove();
                    }
                }
            });
        }

        function guardarImagen() {
            var peritajeId = document.getElementById('peritaje-id').value;
            var observaciones = document.getElementById('id_observaciones').value;
            var checkboxNoDetalles = document.getElementById('detalle_no_notado');
        
            // Verificar si se marcaron las marcas o se marcó el checkbox
            var marcas = document.querySelectorAll('.marca');
            if (marcas.length === 0 && !checkboxNoDetalles.checked) {
                Swal.fire(
                    'Error',
                    'Debe marcar la imagen o seleccionar "No se notaron detalles" para guardar',
                    'error'
                );
                return;
            }
            html2canvas(document.getElementById('auto-container')).then(function(canvas) {
                canvas.toBlob(function(blob) {
                    var formData = new FormData();
                    formData.append('imagen', blob, 'marcado.png');
                    formData.append('observaciones', observaciones);

                    fetch(`/guardar_imagen/${peritajeId}/`, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'ok') {
                            Swal.fire({
                                title: 'Guardado',
                                text: 'Su peritaje se ha guardado correctamente',
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then(() => {
                                window.location.href = '{% url "home" %}';
                            });
                        } else {
                            Swal.fire(
                                'Error',
                                'Error al guardar el peritaje: ' + data.message,
                                'error'
                            );
                        }
                    })
                    .catch(error => {
                        console.error('Error al guardar el peritaje:', error);
                        Swal.fire(
                            'Error',
                            'Error al guardar el peritaje',
                            'error'
                        );
                    });
                });
            });
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.0.0-rc.7/html2canvas.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}