#auto-container {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.marca {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    font-size: 10px; 
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    cursor: pointer;
}